footer{
   color: white;
   text-align: center;
   position:fixed;
   left:0px;
   font-size: 12px;
   bottom:0px;
   height:60px;
   width:100%;
   background:#0C1021;
   padding-top: 10px;
}

hr {  
  border-style: solid; 
  border-color: #8c8b8b; 
  margin-top: 0px;
  margin-bottom: 7px;
} 
.foo{
	color: orange;
}