<div class="col-md-12">
      <div><br>
        <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <br>
            <label for="username"><b>Username</b></label>
            <input type="text" class="form-control" name="username" placeholder="Enter Username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" 
        [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password"><b>Password</b></label>
            <input type="password" class="form-control" name="password" placeholder="Enter Password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <br>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-success">Login</button>
        </div>
    </form>
</div>
</div>
<!--fdfsfshsdiofhihsd=======================================================================================

<div class="container"> Button trigger modal 
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Login</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>   
      </div>
      <div class="modal-body">
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <br>
            <label for="username"><b>Username</b></label>
            <input type="text" class="form-control" name="username" placeholder="Enter Username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" 
        [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password"><b>Password</b></label>
            <input type="password" class="form-control" name="password" placeholder="Enter Password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <br>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-success">Login</button>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </form>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>-->