
<div id="hd">
	<div class="row">

		<div class="col-sm-6" align="left">
<img src="./assets/imag/new-log.png" class="imgh">
</div>

		<div class="col-sm-6">
			<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal from home to 
			</button>-->
			<button type="button" class="btn btn-primary" (click)="openModal(template)">Login</button>
			<button type="button" class="btn btn-warning" (click)="openModal(templates)">Register</button>
		</div>


	</div>
</div>
<!--<app-landing></app-landing>-->
<ng-template #template>
    <app-login-p></app-login-p>
</ng-template>

<ng-template #templates>
    <app-register-p></app-register-p> 
</ng-template>

      <alert></alert>
      <router-outlet></router-outlet>